@page "/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TechReviewzWebsite.Domain
@using TechReviewzWebsite.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TechReviewzWebsite.Data.TechReviewzWebsiteContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Product">
    <PropertyColumn Property="product => product.Name" />
    <PropertyColumn Property="product => product.Description" />
    <PropertyColumn Property="product => product.Category" />
    <PropertyColumn Property="product => product.Brand" />
    <PropertyColumn Property="product => product.Price" />
    <PropertyColumn Property="product => product.DateCreated" />
    <PropertyColumn Property="product => product.ImageUrl" />
    <PropertyColumn Property="product => product.ReviewId" />

    <TemplateColumn Context="product">
        <a href="@($"products/edit?id={product.Id}")">Edit</a> |
        <a href="@($"products/details?id={product.Id}")">Details</a> |
        <a href="@($"products/delete?id={product.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TechReviewzWebsiteContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
