.background {
    position: absolute;
    height: 855px;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: #D9D9D9;
}

.panel1 {
    position: absolute;
    height: 85%;
    width: 90%;
    top: 60px;
    left: 100px;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 15px 27px rgba(0,0,0,.15);
}

.heading {
    position: absolute;
    left: 50px;
    padding: 50px;
    font-size: 24px;
    color: black;
    z-index: 2;
}
