@page "/connections/edit"
@using Microsoft.EntityFrameworkCore
@using TechReviewzWebsite.Domain
@inject IDbContextFactory<TechReviewzWebsite.Data.TechReviewzWebsiteContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Connection</h2>
<hr />
@if (Connection is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Connection" OnValidSubmit="UpdateConnection" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Connection.Id" value="@Connection.Id" />
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <InputText id="username" @bind-Value="Connection.Username" class="form-control" />
                    <ValidationMessage For="() => Connection.Username" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="targetusername" class="form-label">TargetUsername:</label>
                    <InputText id="targetusername" @bind-Value="Connection.TargetUsername" class="form-control" />
                    <ValidationMessage For="() => Connection.TargetUsername" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="relation" class="form-label">Relation:</label>
                    <InputText id="relation" @bind-Value="Connection.Relation" class="form-control" />
                    <ValidationMessage For="() => Connection.Relation" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="Connection.Status" class="form-control" />
                    <ValidationMessage For="() => Connection.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="profilepictureurl" class="form-label">ProfilePictureURL:</label>
                    <InputText id="profilepictureurl" @bind-Value="Connection.ProfilePictureURL" class="form-control" />
                    <ValidationMessage For="() => Connection.ProfilePictureURL" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputNumber id="userid" @bind-Value="Connection.UserId" class="form-control" />
                    <ValidationMessage For="() => Connection.UserId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/connections">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Connection? Connection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Connection ??= await context.Connection.FirstOrDefaultAsync(m => m.Id == Id);

        if (Connection is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateConnection()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Connection!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ConnectionExists(Connection!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/connections");
    }

    private bool ConnectionExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Connection.Any(e => e.Id == id);
    }
}
