@page "/CompleteProfile"
@rendermode InteractiveServer

<PageTitle>Complete Profile</PageTitle>

<div class="background">
    <div class="heading">
        <h1><b>Complete Your Profile</b></h1>
    </div>
    <div class="finish_later_txt">
        <a href="/">Finish Later</a>
    </div>

    <div class="panel1">
        <div class="details">
            <h3><b>Profile Picture</b></h3>
            <div class="profile">
                <label>
                    <svg xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 -960 960 960" width="100px" fill="#e3e3e3"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" /></svg>
                </label>
            </div>

            <div>
                <button class="btn btn-primary">Import from file</button>
            </div>
        </div>

        <div class="details">
            <h3><b>User Details</b></h3>
            <div style="display: flex">
                <div class="details_name" style="margin-bottom:20px; padding-right: 20px;">
                    <label for="firstname">First Name</label>
                    <input id="firstname" class="form-control" type="email" />
                </div>

                <div class="details_name" style="margin-bottom:20px">
                    <label for="lastname">Last Name</label>
                    <input id="lastname" class="form-control" type="password" />
                </div>
            </div>
            <div>
                <label for="email">Gender</label>
                <input id="email" class="form-control" type="email" />
            </div>
        </div>

        <div class="details">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
