.background {
    position: absolute;
    height: 1800px;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: #D9D9D9;
}

.panel1 {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 100px;
    left: 100px;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 15px 27px rgba(0,0,0,.15);
}

.profile {
    display: flex;
    align-items: center;
}

.profile_details {
    flex-direction: column;
}
