.panel1 {
    position: absolute;
    height: 700px;
    width: 90%;
    top: 135px;
    left: 120px;
    background-color: #D9D9D9;
    padding: 50px;
    box-sizing: border-box;
}

.panel2 {
    position: absolute;
    height: 700px;
    width: 90%;
    top: 155px;
    left: 100px;
    background-color: #A19D9D;
    padding: 50px;
    box-sizing: border-box;
    z-index: -1;
}
