@page "/"

<PageTitle>Home</PageTitle>


<div>
    <div>
        <h1><b>Products</b></h1>

        <section class="media-scroller">
            <article class="media-card">
                <label>
                    <svg width="100px" height="100px" viewBox="5 2 64 72" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione" preserveAspectRatio="xMidYMid meet">
                        <g fill="#212528">
                            <path d="M7.3 53.8h49.4c.8 0 1.4-.6 1.4-1.4v-33c0-.8-.6-1.4-1.4-1.4H7.3c-.7 0-1.3.6-1.3 1.4v33c0 .8.6 1.4 1.3 1.4">
                            </path>
                            <path d="M2 58.7C2 60.3 3.3 62 5 62h54c1.6 0 3-1.7 3-3.3H2z">
                            </path>
                        </g>
                        <path fill="#ddd" d="M57 53.8H7l-5 4.9h60z">
                        </path>
                        <path fill="#bfbebe" d="M55.3 54.2H8.7l-1.7 2h50z">
                        </path>
                        <path fill="#212528" d="M37.1 57.1H26.9l-.8 1.1h11.8z">
                        </path>
                        <path fill="#3e4347" d="M9 21h46v29.8H9z">
                        </path>
                        <circle cx="32" cy="19.6" r=".8" fill="#ddd">
                        </circle>
                        <path d="M36.3 60.8h-8.6c-.3 0-1.1 0-1.1-1h10.8c0 1-.8 1-1.1 1" fill="#3e4347">
                        </path>
                    </svg>
                    Laptops
                </label>
            </article>
            <article class="media-card">Smartphones & Tablets</article>
            <article class="media-card">Personal Computer (PC)</article>
            <article class="media-card">PC Components</article>
            <article class="media-card">Peripherals</article>
            <article class="media-card">Wearables</article>
            <article class="media-card">Home Appliances</article>
        </section>
    </div>

    <div class="panel1_red">
        <h1><b>Reviews</b></h1>
        <hr />
        <h3><b>Latest Tech Reviews</b></h3>
        <section class="media-scroller">
            <article class="review-card">Laptops Reviews</article>
            <article class="review-card">Smartphones & Tablets Reviews</article>
            <article class="review-card">Personal Computer (PC) Reviews</article>
            <article class="review-card">PC Components Reviews</article>
            <article class="review-card">Peripherals Reviews</article>
        </section>
    </div>

    <div class="panel1_white">
        <h1><b>Best Value Tech Reviews</b></h1>
        <hr />
        <h3><b>For Office/School Work</b></h3>
        <section class="media-scroller">
            <article class="review-card">Laptops Reviews</article>
            <article class="review-card">Smartphones & Tablets Reviews</article>
            <article class="review-card">Personal Computer (PC) Reviews</article>
            <article class="review-card">PC Components Reviews</article>
            <article class="review-card">Peripherals Reviews</article>
        </section>
    </div>

    <div class="panel1_2_red">
        <hr />
        <h3><b>For Gamers</b></h3>
        <section class="media-scroller">
            <article class="review-card">Laptops Reviews</article>
            <article class="review-card">Smartphones & Tablets Reviews</article>
            <article class="review-card">Personal Computer (PC) Reviews</article>
            <article class="review-card">PC Components Reviews</article>
            <article class="review-card">Peripherals Reviews</article>
        </section>
    </div>

    <div>
        <div class="panel2_1">
            <div class="panel2_1_txt">
                <h1><b>Subscribe to our Newsletter!</b></h1>

                <div class="spacing">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="email" placeholder="you@example.com" />
                </div>

                <div class="spacing">
                    <button class="btn btn-primary">Sign up</button>
                </div>
            </div>
        </div>

        <div class="panel2_2">
            <div class="panel2_img">
                @* <svg>Add image here</svg> *@
            </div>
        </div>
    </div>

    <div class="panel3">
        <div class="panel3_txt">
            <div>
                <a href="/AboutUs" class="spacing2">About us</a>
                <a href="/ContactUs" class="spacing2">Contact us</a>
                <a href="/FAQ" class="spacing2">FAQ</a>
                <a href="/Copyright" class="spacing2">Terms and Conditions</a>
            </div>

            <div class="spacing2">
                <h1><b>Find out more about us at...</b></h1>
            </div>

            @* <svg>Add image here</svg> *@
        </div>
    </div>

    <div class="panel4">
        <div class="panel4_txt">
            <p>TechReviewz 2025. All rights reserved.</p>
        </div>
    </div>
</div>