@page "/LandingPage"
@rendermode InteractiveServer

<div>
    <div class="panel1">
        <div class="panel1_txt">
            <h1><b>Welcome to TechReviewz!</b></h1>
            <p>Your ultimate destination for honest and in-depth tech product reviews.</p>
        </div>

        <div class="panel1_img">
            @* <svg>Add image here</svg> *@
        </div>
    </div>

    <div class="panel2">
        <div class="panel2_txt">
            <h1><b>Why choose us?</b></h1>
        </div>
    </div>

    <div class="panel3">
        <div class="panel3_txt">
            <h1><b>People doing the reviews</b></h1>
        </div>
    </div>

    <div>
        <div class="panel4_1">
            <div class="panel4_1_txt">
                <h1><b>Subscribe to our Newsletter!</b></h1>

                <div class="spacing">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="email" placeholder="you@example.com" />
                </div>

                <div class="spacing">
                    <button class="btn btn-primary">Sign up</button>
                </div>
            </div>
        </div>

        <div class="panel4_2">
            <div class="panel4_img">
                @* <svg>Add image here</svg> *@
            </div>
        </div>
    </div>

    <div class="panel5">
        <div class="panel5_txt">
            <div>
                <a href="/AboutUs" class="spacing2">About us</a>
                <a href="/ContactUs" class="spacing2">Contact us</a>
                <a href="/FAQ" class="spacing2">FAQ</a>
                <a href="/Copyright" class="spacing2">Terms and Conditions</a>
            </div>

            <div class="spacing2">
                <h1><b>Find out more about us at...</b></h1>
            </div>

            @* <svg>Add image here</svg> *@
        </div>
    </div>

    <div class="panel6">
        <div class="panel6_txt">
            <p>TechReviewz 2025. All rights reserved.</p>
        </div>
    </div>
</div>


