.background {
    position: absolute;
    height: 1800px;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: #D9D9D9;
}

.panel1 {
    position: absolute;
    height: 600px;
    top: 60px;
    background-color: #D9D9D9;  
}

.panel1_txt {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    top: 250px;
    left: 50%;
    z-index: 2;
}

.panel1_img {
    position: absolute;
    height: 600px;
    width: 50%;
    aspect-ratio: 10/9;
    object-fit: cover;
    top: 0px;
    left: 0px;
    filter: blur(1px);
    box-shadow: 0 30px 50px rgba(0,0,0,.15);
}

.panel2 {
    position: absolute;
    text-align: center;
    height: 350px;
    top: 660px;
    background-color: white;
}

.panel2_txt {
    padding: 40px;
    z-index: 2;
}

.panel3 {
    position: absolute;
    text-align: center;
    height: 700px;
    top: 1010px;
    background-color: #912729;
}

.panel3_txt {
    color: white;
    padding: 75px;
    gap: 100px;
    z-index: 2;
}

.panel4_1 {
    position: absolute;
    height: 500px;
    width: 50%;
    top: 1710px;
    left: 0px;
    background-color: #D9D9D9;
    align-content: center;
    padding: 100px;
    font-weight: bold;
}

.panel4_1_txt {
    color: black;
    top: 70px;
    left: 725px;
    z-index: 2;
}

.panel4_2 {
    position: absolute;
    height: 500px;
    width: 50%;
    top: 1710px;
    left: 50%;
    background-color: #D9D9D9;
}

.panel4_img {
    position: absolute;
    height: 400px;
    width: 700px;
    aspect-ratio: 10/9;
    object-fit: cover;
    top: 50px;
    left: 125px;
    background-color: white;
    box-shadow: 0 30px 50px rgba(0,0,0,.15);
}

.panel5 {
    position: absolute;
    height: 400px;
    width: 100%;
    top: 2210px;
    left: 0px;
    background-color: white;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

.panel5_txt {
    position: center;
    color: black;
    z-index: 2;
}

.panel6 {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 2610px;
    left: 0px;
    background-color: #912729;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.panel6_txt {
    position: center;
    color: white;
    z-index: 2;
}

.spacing {
    margin-bottom: 20px;
}

.spacing2 {
    padding: 75px;
}

a {
    color:black;
}

.list {
    text-align: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 75px;
    padding: 10px;
}

.profile_image {
    width: 350px;
    height: 350px;
    aspect-ratio: 10/9;
    object-fit: cover;
    box-shadow: 0 15px 27px rgba(0,0,0,.15);
}

/* Grouped */
.panel1, .panel2, .panel3 {
    position: absolute;
    width: 100%;
    left: 0px;
}