.login_panel {
    position: absolute;
    width: 960px;
    height: 855px;
    background-color: #D9D9D9;
    color: black;
    font-weight: bold;
    text-align: left;
    left: 0px;
    top: 60px;
    padding: 200px;
    align-content: center;
    box-shadow: 0 15px 27px rgba(0,0,0,.15);
}

.spacing {
    margin-bottom: 20px;
}

.heading {
    font-size: 100px;
    margin-bottom: 40px;    
}

.login_button {
    margin-top: 20px;
    text-align: center;
}

.other_button {
    margin-top: 20px;
    text-align: center;
}

.margin {
    margin: 0 10px;
}