.background {
    position: absolute;
    height: 835px;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: #D9D9D9;
}

.panel1 {
    position: absolute;
    height: 75%;
    width: 65%;
    top: 135px;
    left: 500px;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
}

.panel2 {
    position: absolute;
    height: 280px;
    width: 275px;
    top: 135px;
    left: 150px;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
}

.heading {
    position: absolute;
    left: 50px;
    padding: 50px;
    font-size: 24px;
    color: black;
    z-index: 2;
}
