@page "/reviews/{ReviewId:int}/comments/create"
@using Microsoft.EntityFrameworkCore
@using TechReviewzWebsite.Components.Account
@using TechReviewzWebsite.Domain
@using TechReviewzWebsite.Data
@inject IDbContextFactory<TechReviewzWebsite.Data.TechReviewzWebsiteContext> DbFactory
@inject NavigationManager NavigationManager
@inject IdentityUserAccessor UserAccessor

<PageTitle>Add Comment</PageTitle>

<h1>Add Comment</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Comments" 
            OnValidSubmit="AddComments"
            FormName = "CreateComments" 
            Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="mb-3">
                <label class="form-label">Content</label>
                <InputText @bind-Value="Comments.Content" class="form-control" />
                <ValidationMessage For="() => Comments.Content" class="text-danger" />
            </div>

            <button class="btn btn-primary" type="submit">Post</button>
           
        </EditForm>
    </div>
</div>

<a class="btn btn-link" href="@($"/reviews/details?id={ReviewId}")">Cancel</a>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    [Parameter] public int ReviewId { get; set; }

    private Comments Comments { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await using var context = DbFactory.CreateDbContext();

        Comments.ReviewId = ReviewId;

        var identityUser = await UserAccessor.GetRequiredUserAsync(HttpContext);
        Comments.UserId = identityUser.Id;

        Comments.DateCreated = DateTime.Now;
        Comments.DateUpdated = DateTime.Now;
    }

    private async Task AddComments()
    {
        await using var context = DbFactory.CreateDbContext();
        Comments.ReviewId = ReviewId;
        Comments.DateUpdated = DateTime.Now;

        if (string.IsNullOrWhiteSpace(Comments.Content))
        {
            return;
        }

        context.Comments.Add(Comments);
        await context.SaveChangesAsync();

        NavigationManager.NavigateTo($"/reviews/details?id={ReviewId}");
    }
}
